html{
	background-color: #000000;
	color: #FFFFFF;
	font-family: "Lucida Grande", sans-serif;
}

h1 {
	text-align: center;
	font-family: "Lucida Console", Courier, sans-serif;
	font-size: 64px;
	color: #FFFFFF;
}

h2 {
	font-family: "Lucida Console", Courier, sans-serif;
	font-size: 30px;
	text-shadow: 5px 5px 2px #808080;
	color: #FFFFFF;
}

p {
	font-family: "Lucida Console", Courier, sans-serif;
	font-size: 24px;
	padding-top: 20px;
	color: #FFFFFF;
}

img {
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	width: 525px;
}

div {
	padding: 25px 25px 25px 25px;
	min-height: 150px;
}

#red {
	background-color: #FF0000;
	text-align: right;
}

#blue {
	background-color: #0000FF;
	text-align: left;
}

#yellow {
	background-color: #FFFF00;
	text-align: right;
}

#yellow h2 {
	color: #000000;
}

#yellow p {
	color: #000000;
	text-shadow: 5px 5px 2px #c7e2c7;
}

#green {
	background-color: #09FF00 ;
	text-align: left;
}

footer {
	text-align: right;
	padding-bottom: 10px;
	padding-right: 10px;
}